body{
	background-color: #435A66;
	font-family: times, serif;
}
img{
	vertical-align: auto;
	max-width: 100%;
}
h1{
	background-color: #D9CDB8;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #88A6AF; 
	border-radius: 10px;
	padding: 10px;
	text-align: center;
}
h2{
	background-color: #D9CDB8;
	color: #424342;
	margin-top: 0px;
	border-radius: 10px;
	padding-left: 10px;
}
.menu{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
}
.menu li{
	background-color: #88A6AF;
	float: left;
	margin-right: 4px;
	margin-bottom: 0px;
	padding: 4px;
}
.menu li:hover{
	background-color: #F5F2EB;
}
.menu a{
	text-decoration: none;
	color: #000000;
}
.clear{
	clear: both;
}
.section{
	background-color: #F5F2EB;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: 5px solid #88A6AF;
	padding: 10px;
	border-radius: 20px;
}
#section1{
	margin-top: 0px;
}